<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <style>
div {
  background-color: white;
  width: 55%;
  padding: 50px;
  margin: 20px;
}
</style>
</head>

<center>
<body style="background-color:orange">
    <div>
    <h1 align="center">About Us</h1>
    <p>Healthy living is healthy aging. Whether you’ve pursued it your entire life or are just now starting to contemplate the fuller meaning of healthy living for you, know that the benefits and rewards are within reach. At ODPHP,
    we’ll continue to explore the science and provide you with recommendations and guidance to help you prioritize
    healthy aging in your own lifestyle. Together, we can make certain that healthy aging is a part of our everyday lives, and that a healthier America today translates to a happier, healthier, and more resilient America tomorrow.</p>
    <ul>Mental health is more than the absence of mental disorders.</ul>
    <ul>Mental health is an integral part of health; indeed, there is no health without mental health.</ul>
    <ul>Mental health is determined by a range of socioeconomic, biological and environmental factors.</ul>
    <p>Cost-effective public health and intersectoral strategies and interventions exist to promote, protect and restore mental health.


Mental health is an integral and essential component of health. The WHO constitution states: "Health is a state of complete physical, mental and social well-being and not merely the absence of disease or infirmity." An important implication of this definition is that mental health is more than just the absence of mental disorders or disabilities.</p>

<p>Mental health is a state of well-being in which an individual realizes his or her own abilities, can cope with the normal stresses of life, can work productively and is able to make a contribution to his or her community.

Mental health is fundamental to our collective and individual ability as humans to think, emote, interact with each other, earn a living and enjoy life. On this basis, the promotion, protection and restoration of mental health can be regarded as a vital concern of individuals, communities and societies throughout the world.</p>
</div>
</body>
</center>


</html>