<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
  <style>
    body{
    background-image:url(https://img.freepik.com/free-vector/contact-us-landing-page-flat-design_23-2148284185.jpg?w=2000);
    background-position: center;
    background-size:1200px;
    }
  </style>
</head>
<body marginheight="150>">
<center>
<from>
    <input type="text" cname="Cont_name" placeholder="your name" style="height:30px;width:200px"><br>
    <br>
    <input type="email" cemail="Cont_email" placeholder="your email..."style="height:30px;width:200px" > <br>
    <br>
    <textarea placeholder="Write your request..." rows="4" cols="26"></textarea>
</from>
</center>
</body>
</html>