<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
.h1{
background-color:black;
color:white;
}
.h2
{
background-color:cyan;
}

body{
background-color:orange;
}
    </style>
</head>
<body background-color:cyan>
<div class="h1">
    <br>
    <h3>
        <marquee behavior="scroll" direction="left" scrollamount="12">Healthcare & Well Being system</marquee></h3>
    <br>
</div>
<div class="h2">
    <br>
    <h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="http://127.0.0.1:5000/">Home</a>&emsp;&emsp;&emsp;&emsp;<a href="http://127.0.0.1:5000/aboutus">About us</a>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="http://127.0.0.1:5000/contactus">Contact us</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="http://127.0.0.1:5000/login">Login</a></h3>
<br>
</div >
<h3>Services Provided :</h3>
<div class="image">
    <img src="img_4.png" >
</div>
<ul>
    <li>Nutritional support</li>
    <li>Pharmaceutical care</li>
    <li>Laboratory and diagnostic care</li>
    <li>Mental health care</li>
<li>Dental care</li>
</ul>
<img src="img_3.png">
</body>
</html>