<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
body
{
background-image:url("https://1.bp.blogspot.com/-sTxAHAxirGM/WVbAe2098nI/AAAAAAABENs/_I5sYMYgLOUzaIE7FfF4qdGX-hoAkq9SgCLcBGAs/s1600/Blog_20170624_113552.jpg");
}
</style>
</head>
<body>
<form style="color:black">
<center>
    <h1>Login</h1>
    <input type="email" placeholder="Enter Username"  style="height:25px; width:250px">
  <br>
    <br>
  <input type="password" placeholder="Enter Password" style="height:25px;width:250px">
    <br>
    <br>
    <input type="checkbox" id="box">
    <label for="box"><b>user name</b></label>
    <br>
    <br>
   <button style="width:110px;height:25px" ><a href="http://127.0.0.1:8000/module/">Login</a></button>
    <a href="http://127.0.0.1:8000/registration/"><b style="color:black">sign up</b></a>
    <br>
  </center>
</form>
</body>
</html>